@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./styles/calendar.css";
@import "./styles/navbar.css";
@import "./styles/stages.css";


*{
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: system-ui, Arial, sans-serif;
  color: white;

  background: url("../public/Back.png") center top / cover no-repeat fixed;

  background-color: #1c2030;
}

body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background: linear-gradient(
    rgba(2,6,23,0.1),
    rgba(2,6,23,0.5)
  );

  pointer-events: none;
  z-index: -1;
}