@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "./styles/calendar.css";
@import "./styles/navbar.css";
@import "./styles/stages.css";


*{
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
body {
  margin: 0;
  font-family: system-ui, Arial, sans-serif;
  background: #0f172a;
  color: white;
}